@import url('https://fonts.googleapis.com/css2?family=Ropa+Sans&display=swap');

#last{
    background-color: #333333;
    display: flex;
    flex-wrap: nowrap;
    height: 243px;
}

#last>div{
    width: 50% ;
    margin: 45px; 
}

#last>div>div>img{ 
    margin-right: 15px;
}

#last>div>div>P{
line-height: 25px;
color: white;
}

#left-arrow>img{
    position:absolute;
    align-items: center;
}

#rigth-arrow>img{
    opacity: 100%;


}

article{
    background-color: #EEEEEE;
}

body{
    font-family: 'Ropa Sans', sans-serif;
    margin: 0 auto;
    padding: 0;
    max-width: 728px;
    color: #888888;
    background-color: white;
    border: 20px black
}

#top-header{
    box-shadow: 0 5px 5px lightgrey;
}

#top-header > *{
    display: inline-block;
}

#top-header > img{
    display: inline-block;
}

main{
    margin-left: 5%;
    margin-right: 5%;
}

#name{
    margin-left: 5%;
    color: #777777;
    font-size: 30px;
    font-weight: 100;
}

#subname{
    color: #AAAAAA;
   
}

#dropdown-menu{
float: right;
 margin: 35px;
}

#banner{ 
margin-top: 40px;
align-items: center;
}

#teste{
    width: 100%;
}

#sales{
    
    align-items: center;
}

.sell-houses{
    max-width: 43%;
    display: inline-block;
}

.sell-houses-images{
    width: 100%;
    margin-bottom: 10px;
}

p{
    margin: 5px;
}

span{
    margin: 5px
}

.sales >article >footer> p{
    text-align: justify;
    font-size: 12px;
    margin: 15px;
}

.rigth{
    float: right;
    border-radius: 20px;
    background-color: lightgreen;
    padding: 5px;
    margin-right: 15px;
    color: white;
}

#rigthsale{
    background-color: #DC9730;
}

.price{
    margin: 15px;
    font-size: 30px;
}

#article-rigth{
    float: right;
}

#your-style{
    margin-top: 40px;
     margin-bottom: 40px;
    font-size: 25px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: center;
}

#your-style>div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    opacity: 75%;
}

#your-style>div> p{
    color: white;
    font-style: normal;
    opacity: 100%;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
}

#industrial{
    background-image:url("/lotv/img/Rectangle\ 11.png");
    background-size: 100%;
    background-repeat: no-repeat;
    height: 80px;
} 

#modern{
    height: 80px;
    background-image:url("/lotv/img/Rectangle\ 12.png");
    background-size: 100%;
    background-repeat: no-repeat;
}  

#classic{
    height: 80px;
    background-image:url("/lotv/img/Rectangle\ 13.png");
    background-size: 100%;
    background-repeat: no-repeat;
}  





