@import url('https://fonts.googleapis.com/css2?family=Ropa+Sans&display=swap');


html {
    font-size: 80%;
}

/* Seletor CSS */
body {
    font-family: 'Ropa Sans', sans-serif;
    margin: 0;
    padding: 0;
    color: #888;
    width: 100%;

}

body * {
    box-sizing: border-box;
}

body>header {
    padding: 1rem 2rem;
    font-size: 1rem;
    line-height: 1rem;
    box-shadow: 0.1rem 0.1rem 1rem gray;
}

header>* {
    display: inline-block;
    margin: 0;
}

body>header>img {
    float: right;
    margin-top: 1.6rem;
}

body>main {
    width: 100%;
}

#banner {
    width: 100%;
    padding: 1rem;
}

#banner>img {
    width: 100%;
}

#sales {
    padding: 0 1rem;
    width: 100%;
}

#sales>article {
    width: 100%;
    padding-bottom: 1rem;
}

#sales>article img {
    width: 100%;
    margin-bottom: -.5rem;
}

#sales>article>footer {
    padding: 1.2rem;
    background-color: #EEEEEE;
}

#sales span {
    font-size: 25px;
    line-height: 27px;
}

.right {
    border-radius: 1.5rem;
    background-color: #51d275;
    color: white;
    padding: 0 1rem;
    float: right;
}

.right.sale {
    background-color: #dc9730;
}

#your-style {
    padding: 0 1rem;
}

#your-style * {
    width: 100%;
    text-align: center;

}

.opaque {
    opacity: 0.5;
    color: white;
    font-size: 2rem;
}

.styles {
    min-height: 5rem;
    margin-bottom: 1rem;
    padding: 2rem;

}

.industrial {
    background-image: url('/lotv/img/Rectangle\ 11.png');
}

.modern {
    background-image: url('/lotv/img/Rectangle\ 12.png');
}

.classic {
    background-image: url('/lotv/img/Rectangle\ 13.png');
}



footer {
    width: 100%;
    padding: 1rem 1rem;
    background-color: #333333;
}

footer>img {
    width: 100%;
}

section#contacts {
    color: white;
    text-align: center;

}

section#contacts>img {
    margin: .5rem;

}



/* Small devices (portrait tablets and large phones, 600px and up) */

@media (min-width: 600px) {
    #sales>article {
        width: 40%;
        display: inline-block;
    }

    #sales>article:last-child {
        float: right;
    }

    footer>img {
        width: 40%;
        display: inline-block;
    }

    footer>#contacts {
        width: 40%;
        display: inline-block;
        text-align: start;
        margin-left: 8rem;

    }


}

/* Medium devices (landscape tablets, 768px and up) */

@media (min-width: 768px) {
    body {
        max-width: 768px;
        margin: auto;
    }
}



/* Seletores por classe */
/* .styles {
  opacity: 0.5;
} */

/* Seletores por ID */
/* #primeira {
  opacity: 1;
} */

/* Seletores por descendência */
/* #your-style img {
  opacity: 0.5;
} */

/* Seletores por child (filhos) */
/* #your-style > img {
  opacity: 0.2;
} */